@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins;
   
}
html{
    display:flex;
    flex-wrap:nowrap;
}
body{
    background-image:url(./img/imager_130667.jpg);
    background-position:center;
    background-size:cover;
    height:100vh;
    
    
}
.header{
display:flex;
flex-wrap:nowrap;
justify-content:space-around;
position:relative;
height:10%;
background:#000;
}
.header .menu{
    margin:auto 0;
    display:block;
}
.header .menu a:hover{
    background-color:aqua;
    padding:40px;
    transition:0.5s;
}
.header .menu a{
    padding:40px;
    text-decoration:none;
    color:white;
    font-weight:bold;
}
.search{
    position:relative;
    margin:auto 0;
}
.search .fa-solid{
    position:absolute;
    top:12%;
    right:2%;

}
input{
    width:100%;
}
.images-icon img{
width: 150px;
height: 50px;
object-fit:cover;
position:absolute;
top:15px;
left:10px;
}
.menu>a{
    position:relative;
}
.menu .menu-item{
    display:none;
}
.menu-item{
    position:absolute;
    top:100px;
    right:0px;
    width: 162px;
    list-style-type:none;
}

.menu>a:hover>.menu-item{
    display:block;
}
.menu-item>li{
    list-style-type:none;
    background-color:#000;
    padding-left:15px;
    box-shadow:2px 2px rgba(0,0,0,0.5);
}
.menu-item>li:hover{
    background:aqua;
}
.container{
    margin-top:50px;
    background-color:blue;
    width: 100%;
    min-height:50vh;
    border-radius:20px;
}
.container h1{
    text-align:center;
}
.apple-mobile .apple{
    margin:10px 33px;
    padding:0 20px;
}
.apple-mobile{
    display:flex;
    flex-wrap:wrap;
   
}
.apple-mobile .apple{
    background:black;
    width: 250px;
    height:400px;
    display:flex;
    flex-direction:column;
    border-radius:6px;
    color:white;
    position:relative;
}
.apple img{
    padding-top:50px;
    transform:scale(0.9);
}
.apple img:hover{
    transform:scale(1);
    transition:0.3s;
}
.apple span{
    text-align: center;
}
.apple .tragop{
    position:absolute;
    top:10px;
    left:0;
    background:red;
    border-radius:5px;
}
.apple button{
    width:50%;
    margin:8px auto;
    height:30px;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
}
.apple button:hover{
    background:red;
}


.container2{
    margin-top:50px;
    background-color:rgb(29, 148, 196);
    width: 100%;
    min-height:100vh;
    border-radius:20px;
}
.container2 h1{
    text-align:center;
}
.oppo-mobile .oppo{
    margin:10px 33px;
    padding:0 20px;
}
.oppo-mobile{
    display:flex;
    flex-wrap:wrap;
   
}
.oppo-mobile .oppo{
    background:black;
    width: 250px;
    height:400px;
    display:flex;
    flex-direction:column;
    border-radius:6px;
    color:white;
    position:relative;
}

.oppo img{
    padding-top:50px;
    transform:scale(0.9);
}
.oppo img:hover{
    transform:scale(1);
    transition:0.3s;
}
.oppo span{
    text-align: center;
}
.oppo .tragop{
    position:absolute;
    top:10px;
    left:0;
    background:red;
    border-radius:5px;
}
.oppo button{
    width:50%;
    margin:8px auto;
    height:30px;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
}
.oppo button:hover{
    background-color:red;
}


.container3{
    margin-top:50px;
    background-color:rgb(29, 148, 196);
    width: 100%;
    min-height:100vh;
    border-radius:20px;
}
.container3 h1{
    text-align:center;
}
.huawei-mobile .huawei{
    margin:10px 33px;
    padding:0 20px;
}
.huawei-mobile{
    display:flex;
    flex-wrap:wrap;
   
}
.huawei-mobile .huawei{
    background:black;
    width: 250px;
    height:400px;
    display:flex;
    flex-direction:column;
    border-radius:6px;
    color:white;
    position:relative;
}

.huawei img{
    padding-top:50px;
    transform: scale(0.9);
}
.huawei img:hover{
    transform:scale(1);
    transition:0.3s;
}
.huawei span{
    text-align: center;
}
.huawei .tragop{
    position:absolute;
    top:10px;
    left:0;
    background:red;
    border-radius:5px;
}
.huawei button{
    width:50%;
    margin:8px auto;
    height:30px;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
}

.huawei button:hover{
    background-color:red;
}

